@import "fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

:root {
  /* text colors */
  --text-color-main: #666d89;
  --text-color-secondary: #767e9e;
  --color-tag-hover: #c5c5c5;
  --color-light: #f0d8d9;
  --color-white: #ffffff;
  --color-header-add: #f06c64;
  --color-from: #f48c8f;
  /* bg colors */
  --color-bg-dark: #2d303a;
  --color-bg-dark-shadow: #323645;
  --color-bg-light: #f2f2f2;
  --color-bg-light-shadow: var(--color-white);
  --color-bg-add: var(--color-header-add);
  --color-bg-add-shadow: #ea666b;
  --color-bg-form: #d6564f;
  --color-bg-valid: rgb(51, 70, 51);
  /* other colors */
  --color-style-list: #494e62;
  --color-border: var(--text-color-main);
  --color-border-tag: var(--text-color-secondary);
  --color-border-tag-hover: var(--color-tag-hover);
}

html {
  font-size:62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Lato', Verdana, sans-serif;
}

.wrapper {
  width: 1020px;
  margin: auto;
}

h2 {
  color:var(--text-color-main);
  font-size: 29.56px;
  font-weight: 900;
}

h3 {
  color:var(--text-color-main);
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.1pt;
}

p {
  color: #767E9E;
  font-size: 18.3px;
  font-weight: 300;
}

.title {
  padding: 61px 0 0 40px;
}

.title__description {
  padding-top: 18px;
  line-height: 29px;
  letter-spacing: -0.1pt;
}

.portfolio {
  background: var(--text-color-secondary);
  min-height: 864px;
  border-bottom: solid 5.5px #323746;
}

.portfolio__tags {
  height: 25px;
  margin: 12px 0 0 41px;
}

.layout-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blocks {
  margin: 11px 25px 0 35px;
  max-height: 620px;
  overflow: hidden;
}

.tag {
  background: var(--text-color-secondary);
  
  display: inline-block;
  position: relative;
  margin-right: 7.85px;
  padding: 0px 6px;
  border-radius: 5px;
  
  line-height: 20px;
  font-size: 12px;
  color:var(--main-color);

  transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
}

.tag:hover {
  background-color: var(--color-white);
  color: var(--text-color-secondary);
  cursor: pointer;
}


.tag_bordered {
  border: 1px solid var(--text-color-main);
}

.tag_selected {
  border: 1px solid var(--color-white);
  color: var(--color-white);
}

.block {
  flex: 1 0 20%;
  margin: 5px 0px 12.5px 5px;
}

.about-us {
  background: #F2F2F2;
  border-bottom: solid 10px var(--color-white);
  min-height: 720px;
}

.employees {
  margin: 47px 40px 0 40px;
}

.employee {
  width: 300px;
}

.employee__photo {
  margin-bottom: 15px;
}

.employee__content h3 {
  margin-left: -1.5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.employee__text {
  margin-top: 9.5px;
}

.employee__text p {
  font-size: 12px;
  line-height: 21px;
  text-align:justify ;
}

.social__links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__icon {
  display: block;
  float: left;
  margin: 25px 8px 0px 0px;
  border: 1px solid var(--text-color-main);
  width: 30px;
  height: 30px;

  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.social__icon:hover {
  transition: all 0.5s;
  background-color: rgba(225, 225, 225, 0.75);
}

.facebook {
  background: url(/assets/social/facebook.png) no-repeat center;
}

.google {
  background: url(/assets/social/google.png) no-repeat center;
}

.twitter {
  background: url(/assets/social/twitter.png) no-repeat center;
}

.linkedin {
  background: url(/assets/social/linkedin.png) no-repeat center;
}