.social__icon, .footer__icon {
  display: block;
  border: 1px solid #666d89;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.social__icon:hover, .footer__icon:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: rgba(225, 225, 225, 0.75);
}

input, textarea {
  color: #ffffff;
}

input:focus, textarea:focus {
  outline: solid 1px #832d28;
  background-color: #d6564f;
}

input:invalid:focus, textarea:invalid:focus {
  background-color: rgba(153, 0, 0, 0.5);
}

.button, .message-button {
  padding: 5px 10px;
  border: none;
  background: #f48c8f;
  color: #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
}

.button:hover, .message-button:hover {
  background-color: #d6564f;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  text-decoration: none;
}

a:active, a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

ul {
  list-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

textarea {
  overflow: auto;
}

@font-face {
  font-family: "Lato-Black";
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url("../assets/fonts/Lato-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("../assets/fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("../assets/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Light";
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("../assets/fonts/Lato-Light.ttf") format("truetype");
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', Verdana, sans-serif;
}

.wrapper {
  width: 1020px;
  margin: auto;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.active {
  color: #F06C64;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Lato', Verdana;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: -0.06rem;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

h2 {
  color: #666d89;
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.5rem;
  margin: 0;
}

h3 {
  color: #666d89;
  font-weight: 900;
  font-size: 1.8rem;
  margin: 0;
}

p {
  color: #767E9E;
  font-size: 1.8rem;
  font-weight: 300;
  word-spacing: 0.065rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.title {
  padding-top: 6rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 0;
}

.title h2 {
  letter-spacing: 0.01rem;
}

.title__description {
  padding-top: 1.9rem;
  line-height: 3.1rem;
  letter-spacing: -0.1pt;
  word-break: break-all;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social__links {
  margin-right: 31.5px;
}

.social__icon {
  margin-right: 0.8rem;
}

.facebook {
  background: url(assets/images/social/facebook.png) no-repeat center;
}

.google {
  background: url(assets/images/social/google.png) no-repeat center;
}

.twitter {
  background: url(assets/images/social/twitter.png) no-repeat center;
}

.linkedin {
  background: url(assets/images/social/linkedin.png) no-repeat center;
}

.header {
  height: 89px;
  background: #2D303A;
  border-bottom: 6px solid #323746;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.logo {
  position: relative;
  top: 12.5px;
  left: 40px;
}

.navigation {
  position: relative;
  top: 12.5px;
  right: 28px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.menu__item {
  padding-left: 14.5px;
}

.menu__item .last:after {
  content: '';
}

.menu__item a {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: -0.4pt;
}

.menu__item a:hover {
  color: #F06C64;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu__item a:after {
  content: '\00B7';
  color: #323746;
  margin-left: 12.8px;
}

.services {
  background-color: #f2f2f2;
  height: 494px;
  border-bottom: 6px solid #ffffff;
}

.services__title {
  padding-top: 6rem;
  padding-left: 3.95rem;
  margin-bottom: 0;
}

.services__subtitle {
  padding-top: 1.9rem;
  padding-left: 4rem;
  line-height: 3.1rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 30px;
}

.container__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  margin-top: 42.5px;
  height: 80px;
}

.item__icon {
  display: block;
  float: left;
  margin: 2px 20px 60px 11px;
  background: rgba(0, 0, 0, 0.0001);
  border: 2px solid #666d89;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.item__text {
  padding-right: 11px;
}

.item__text p {
  font-size: 1.2rem;
  padding-top: 6.5px;
  line-height: 2.1rem;
  text-align: justify;
  word-break: break-all;
}

.icon {
  display: block;
  margin: auto;
}

.pencil {
  margin-top: 12px;
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background: url(assets/images/icons/pencil.svg);
}

.lightbulb {
  margin-top: 12px;
  width: 22px;
  height: 32px;
  background-size: 22px 32px;
  background: url(assets/images/icons/lightbulb.svg);
}

.heart {
  margin-top: 12px;
  width: 32px;
  height: 28px;
  background-size: 32px 32px;
  background: url(assets/images/icons/heart.svg);
}

.iphone {
  margin-top: 12px;
  width: 22px;
  height: 32px;
  background-size: 22px 32px;
  background: url(assets/images/icons/phone.svg);
}

.bubble {
  margin-top: 12px;
  width: 32px;
  height: 28px;
  background-size: 32px 32px;
  background: url(assets/images/icons/bubble.svg);
}

.star {
  margin-top: 12px;
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background: url(assets/images/icons/star.svg);
}

.portfolio {
  background: #2D303A;
  height: 863.5px;
  border-bottom: solid 5.5px #323746;
}

.portfolio__tags {
  padding-left: 4rem;
  padding-top: 1rem;
}

.portfolio__tags #tags {
  border: none;
}

.tag {
  display: inline-block;
  position: relative;
  padding: 0px 7px;
  margin-right: 0.4rem;
  line-height: 2rem;
  font-size: 1.2rem;
  color: #666d89;
  transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
}

.tag:hover {
  background-color: #ffffff;
  color: #767E9E;
  cursor: pointer;
}

.tag_bordered {
  border: 1px solid #666d89;
}

.tag_selected {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__blocks {
  margin: 1.8rem 4rem 0rem 4rem;
  max-height: 620px;
  overflow: hidden;
}

#blocks {
  -webkit-box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0);
  box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0);
}

.bordered {
  -webkit-box-shadow: inset 0 0 0 0.5rem #F06C64;
  box-shadow: inset 0 0 0 0.5rem #F06C64;
}

.blocks__block {
  width: 220px;
  height: 187px;
  margin-bottom: 2rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.blocks__block span {
  display: none;
}

.thumb1 {
  background-image: url(assets/images/portfolio/1.png);
}

.thumb2 {
  background-image: url(assets/images/portfolio/2.png);
}

.thumb3 {
  background-image: url(assets/images/portfolio/3.png);
}

.thumb4 {
  background-image: url(assets/images/portfolio/4.png);
}

.thumb5 {
  background-image: url(assets/images/portfolio/5.png);
}

.thumb6 {
  background-image: url(assets/images/portfolio/6.png);
}

.thumb7 {
  background-image: url(assets/images/portfolio/7.png);
}

.thumb8 {
  background-image: url(assets/images/portfolio/8.png);
}

.thumb9 {
  background-image: url(assets/images/portfolio/9.png);
}

.thumb10 {
  background-image: url(assets/images/portfolio/10.png);
}

.thumb11 {
  background-image: url(assets/images/portfolio/11.png);
}

.thumb12 {
  background-image: url(assets/images/portfolio/12.png);
}

.o1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.about-us {
  background: #f2f2f2;
  border-bottom: solid 5.5px #ffffff;
  height: 728px;
}

.employees {
  margin: 4.3rem 2rem 0 4rem;
}

.employee {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
}

.employee__content {
  margin-top: 0.7rem;
}

.employee__content h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 3.7rem;
}

.employee__text {
  padding-right: 2rem;
}

.employee__text p {
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: justify;
}

.employee__social-links {
  margin-top: 2.5rem;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__wrapper {
  padding-top: 7rem;
  width: 940px;
}

.contacts {
  background-color: #F06C64;
  border-bottom: 6px solid #EA676B;
  height: 648.5px;
}

.contacts__title {
  font-size: 3rem;
  letter-spacing: -0.05pt;
  line-height: 1.8rem;
  font-weight: 900;
  margin: 0;
  color: #f0d8d9;
  word-spacing: -0.5pt;
}

.contacts__description {
  line-height: 3rem;
  padding-top: 26px;
  color: #f0d8d9;
}

.contacts__context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__form {
  max-width: 591px;
  padding-top: 44px;
  padding-bottom: 21px;
}

.contacts__field {
  width: 100%;
  border: none;
  padding: 9px 13px 11px 15px;
  margin-bottom: 15px;
  background-color: #d6564f;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.contacts__field::-webkit-input-placeholder {
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 400;
  color: #f48c8f;
}

.contacts__field:-ms-input-placeholder {
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 400;
  color: #f48c8f;
}

.contacts__field::-ms-input-placeholder {
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 400;
  color: #f48c8f;
}

.contacts__field::placeholder {
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 400;
  color: #f48c8f;
}

.contacts__textarea {
  height: 182px;
  letter-spacing: 0.019em;
  padding: 7px 14px 13px;
}

.contact-information {
  max-width: 300px;
}

.contact-information__title {
  line-height: 1.8rem;
  font-weight: 900;
  color: #f0d8d9;
  padding-top: 45px;
}

.contact-information__description {
  font-size: 1.2rem;
  line-height: 22px;
  padding-top: 10px;
  text-align: justify;
  letter-spacing: -0.01rem;
  padding-bottom: 20px;
  color: #ffffff;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contact__link {
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 400;
  margin-left: 9px;
  color: #f0d8d9;
}

.ico {
  display: inline-block;
  cursor: pointer;
}

.ico_location {
  background-image: url(assets/images/icons/map.svg);
  width: 7px;
  height: 11px;
  margin-left: 3.5px;
}

.ico_phone {
  background-image: url(assets/images/icons/tel.svg);
  width: 11px;
  height: 11px;
}

.ico_mail {
  background-image: url(assets/images/icons/mail.svg);
  width: 13px;
  height: 8px;
}

.footer {
  background-color: #2D303A;
  height: 75px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  font-size: 1.2rem;
  font-weight: 400;
  color: #666d89;
  padding: 3rem;
  padding-left: 4rem;
  letter-spacing: -0.1pt;
}

.footer__links {
  margin-right: 35px;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__icon {
  margin-right: 0.7rem;
}

button {
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
  border: none;
}

.header__burger {
  display: none;
  position: absolute;
  left: 20px;
  top: 26px;
  z-index: 9998;
  width: 25px;
  height: 20px;
  background-color: transparent;
  background-image: url("assets/images/icons/burger.svg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
}

.rotated90 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.dark-background {
  position: absolute;
  z-index: 9996;
  width: 100vw;
  height: 100vh;
  background: #2D303A;
  opacity: 0.6;
  transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  cursor: pointer;
}

.transparent {
  pointer-events: none;
  opacity: 0;
}

.slider {
  min-height: 68.1vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-color: #F06C64;
  border-bottom: 6px solid #EA676B;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

main > .blue {
  background-color: #648bf0;
  border-bottom: 6px solid #648bf0;
}

.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  position: relative;
  height: 58.8235vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  overflow: hidden;
}

.slider__btn {
  position: absolute;
  height: 50px;
  width: 40px;
  border: none;
  background-image: url("assets/images/chev.png");
  background-color: transparent;
  background-repeat: no-repeat;
  outline: none;
  -webkit-transition: background 500ms;
  transition: background 500ms;
  z-index: 5;
}

.slider__btn:hover {
  background-image: url("assets/images/chev-hover.png");
  cursor: pointer;
}

.slider__btn_left {
  left: 30px;
  background-position: center 20%;
}

.slider__btn_right {
  right: 30px;
  background-position: center 80%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slider__slide {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slide-1 {
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide-2 {
  left: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide-1 .phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 483px;
  width: 796px;
  margin: 0 auto;
}

.slide-2 .phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 513px;
  width: 518px;
}

.slide-2 .phones .phone:nth-child(even) {
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: scale(1.062);
          transform: scale(1.062);
  z-index: 5;
}

.slide-2 .phones .phone:nth-child(odd) {
  -webkit-transform-origin: center 65%;
          transform-origin: center 65%;
  -webkit-transform: scale(0.6501);
          transform: scale(0.6501);
  opacity: 0.5;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.slide-2 .phones .phone:nth-child(1) {
  margin-right: 15px;
}

.slide-2 .phones .phone:nth-child(3) {
  margin-left: 38px;
}

.phone__btn {
  position: absolute;
  width: 36px;
  height: 36px;
  cursor: pointer;
  border: 1px solid #FAFAFA00;
  border-radius: 50%;
  z-index: 5;
}

.phone_vertical .phone__btn {
  left: 37.4%;
  bottom: 7.8%;
}

.phone_horizontal .phone__btn {
  left: 2.3%;
  bottom: 48.5%;
}

.slide-2 .phone:nth-child(even) .phone__btn {
  left: 90px;
  bottom: 7.8%;
}

.phone_vertical {
  position: relative;
  height: 483px;
  width: 240px;
}

.phone_vertical .phone__base {
  position: absolute;
  left: 0;
  top: -6px;
  height: 458px;
  width: 216px;
  background: url("assets/images/phone-base.png");
  background-repeat: no-repeat;
  z-index: 2;
}

.phone_vertical .phone__screen {
  position: absolute;
  left: 14px;
  top: 59px;
  height: 333px;
  width: 188px;
  background: url("assets/images/screen-vertical.png");
  background-repeat: no-repeat;
  z-index: 3;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.phone_vertical .phone__shadow {
  position: absolute;
  left: 0;
  top: -5px;
  height: 483px;
  width: 240px;
  background: url("assets/images/phone-vertical-shadow.png");
  background-repeat: no-repeat;
  z-index: 1;
}

.phone_horizontal {
  position: relative;
  width: 483px;
  height: 240px;
}

.phone_horizontal .phone__base {
  position: absolute;
  top: -6px;
  right: 25px;
  width: 458px;
  height: 216px;
  background: url("assets/images/phone-base-horizontal.png");
  background-repeat: no-repeat;
  z-index: 2;
}

.phone_horizontal .phone__screen {
  position: absolute;
  right: 90px;
  top: 8px;
  height: 188px;
  width: 333px;
  background: url("assets/images/screen-horizontal.png");
  background-repeat: no-repeat;
  z-index: 3;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.phone_horizontal .phone__shadow {
  position: absolute;
  right: 0px;
  top: -6px;
  height: 240px;
  width: 483px;
  background: url("assets/images/phone-horizontal-shadow.png");
  background-repeat: no-repeat;
  z-index: 1;
}

.hidden {
  opacity: 0;
}

#message-block {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.32);
  overflow-wrap: break-word;
}

#message-block.hidden {
  display: none;
}

#message {
  position: absolute;
  width: 510px;
  padding: 10px;
  background-color: rgba(50, 55, 70, 0.9);
  top: 20%;
  left: 32%;
  border: 2px solid #323746;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  z-index: 3;
}

#message p {
  padding-left: 15px;
  line-height: 3rem;
}

#message-title {
  text-align: center;
}

#message-content {
  height: 200px;
  overflow-y: auto;
}

.text-message {
  max-height: 250px;
  padding-right: 10px;
}

span.messages {
  font-size: 1.6rem;
  color: #ffffff;
  display: block;
  padding: 10px;
}

.message-button {
  width: 70px;
  height: 25px;
  margin-top: 20px;
  margin-left: 43%;
}

@media (max-width: 767px) {
  .slider,
  .services,
  .portfolio,
  .about,
  .contact {
    scroll-margin-top: 70px;
  }
  .header {
    height: 71px;
    border: 0;
  }
  .header__burger {
    display: block;
  }
  .logo {
    top: 10px;
    left: 0;
    margin-left: calc(50vw - 4rem);
    z-index: 9998;
    font-size: 1.96875rem;
    line-height: initial;
    -webkit-transition: margin-left 0.6s;
    transition: margin-left 0.6s;
    font-weight: bold;
  }
  .navigation {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 9997;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    height: 100vh;
    width: 74.1333%;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
    -webkit-transition: left 0.6s;
    transition: left 0.6s;
  }
  .navigation ul {
    position: relative;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    top: 233px;
    left: 72px;
  }
  .navigation ul li {
    display: block;
    margin-bottom: 30px;
  }
  .navigation ul li a {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.04em;
  }
  .navigation ul li:not(:first-child) a {
    margin-left: 0;
  }
  .navigation .active {
    left: 0;
  }
  .navigation .to-right {
    left: 0;
  }
  nav li:not(:first-child) a::before {
    content: none;
    left: 0;
  }
}

@media (max-width: 374px) {
  .iphone {
    width: 70.4px;
    height: 151.5px;
  }
  .iphone__phone {
    width: 63.4px;
    height: 134px;
  }
  .iphone__screen {
    top: 18.6px;
    width: 56px;
    height: 98px;
  }
  .iphone__shadow {
    width: 70.4px;
    height: 140.9px;
  }
  .iphone_horizontal .iphone__shadow {
    top: auto;
    bottom: 0;
  }
  .iphone_horizontal .iphone__screen {
    top: 37px;
    height: 97.5px;
  }
}

@media (max-width: 350px) {
  .portfolio__tags .tag {
    font-size: 10px;
  }
}

@media (min-width: 1020px) {
  .slider {
    min-height: 600px;
  }
}
/*# sourceMappingURL=main.css.map */