button {
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
  border: none;
}

h1.to-left {
  left: -71px;
  @include transition(left);
}

nav.to-right {
  left: 0;
  background: $color-medium;
}

.header__burger {
  display: none;
  position: absolute;
  left: 20px;
  top: 26px;
  z-index: 9998;

  width: 25px;
  height: 20px;

  background-color: transparent;
  background-image: url("assets/images/icons/burger.svg");
  background-repeat: no-repeat;
  background-size: cover;

  @include transition(transform);
}

.rotated90 {
  @include transform(rotate(90deg));
}

.dark-background {
    position: absolute;
    z-index: 9996;
    width: 100%;
    height: 100vh;
    background: $color-medium;
    opacity: 0.6;
    @include transition(opacity);
    cursor: pointer;
}

.transparent {
    pointer-events: none;
    opacity: 0;
}