@media screen and (max-width:1019px) and (min-width:768px) {

    .wrapper {
        width: 768px;
        margin: auto;
    }
    
    .header {
        height:90px;
    }
    .navigation {
        position: relative;
        top: 10.5px;
        right: 29.5px;
    }

    .menu__item {
        padding-left: 18px;
    }
    
    .menu__item a {
        font-weight: 700;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: -0.035em;
    }
    
    .slider {
        height:451px;
    }

    .slider__wrapper {
        height: 451px;
    }
    .slider__btn_left {
        left: 17px;
    }

    .slider__btn_right {
        right: 15px;
    }

    .phone_horizontal .phone__base {
        top: 27px;
        right: 104px;
        width: 344px;
        height: 162px;
    }

    .phone_horizontal .phone__screen {
        right: 151px;
        top: 37px;
        height: 143px;
        width: 253px;
    }

    .phone_horizontal .phone__shadow {
        right: 84px;
        top: 0px;
        height: 234px;
        width: 366px;
    }

    .phone_vertical .phone__base {
        left: 85px;
        top: 56px;
        height: 345px;
        width: 162px;
    }

    .phone_vertical .phone__screen {
        left: 95px;
        top: 105px;
        height: 251px;
        width: 142px;
    }

    .phone_vertical .phone__shadow {
    left: 85px;
    top: 56px;
    height: 364px;
    width: 180px;
    }
    
    .phone__btn {
        width: 30px;
        height: 30px;
    }

    .phone_vertical .phone__btn {
        left: 62.3%;
        bottom: 18.1%;
    }
    .phone_horizontal .phone__btn {
        left: 8.4%;
    }

    .slide-2 .phones {
        height: 440px;
        width: 415px;
    }
    .slide-2 .phone_vertical .phone__base {
    left: -18px;
    top: 28px;
    }

    .slide-2 .phone_vertical .phone__screen {
        left: -9px;
        top: 77px;
    }

    .slide-2 .phone_vertical .phone__shadow {
        left: -18px;
        top: 30px;
        height: 361px;
        width: 179px;
    }

    .slide-2 .phone:nth-child(even) .phone__btn {
        left: 32%;
        bottom: 24%;
    }

    .slide-2 .phones .phone:nth-child(even) {
        transform-origin: 370% 2%;
    }
    .slide-2 .phones .phone:nth-child(odd) {
        transform-origin: center 55%;
    }

    .slide-2 .phones .phone:nth-child(1) {
        margin-right: 18px;
    }

    .slide-2 .phones .phone:nth-child(3) {
        margin-left: -40px;
    }


    .services {
        height: 667px;
    }
    
    .services__title {
    padding-top: 4rem;
    padding-left: 4.1rem;
    margin-bottom: 0;
    letter-spacing: 0.01em;
}
.services__subtitle {
    padding-top: 1.9rem;
    padding-left: 4rem;
    line-height: 3rem;
    margin: 0 auto;
    padding-right: 46px;
    letter-spacing: -0.1px;
}

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 30px;
        padding-top: 34px;
    }
    
    .container__item {
        flex: 0 0 50%;
        margin: 0;
        height: 104px;
        margin-bottom: 40px;
    }
    
    .item__text {
        padding-right: 42px;
    }

    .item__text p {
        padding-top: 11px;
        line-height: 1.9em;
    }
    
    h3 {
        line-height: 1em;
    }
    
    .item__icon {
        margin: 2px 20px 30px 11px;
    }
    
    .title h2 {
        letter-spacing: 0.07rem;
    }

    
    .portfolio {
        background: #2D303A;
        height: 1097.5px;
        border-bottom: solid 5.5px #323746;
    }
    
    .portfolio__tags {
        padding-top: 1rem;
        padding-bottom: 2px;
    }

    .blocks__block {
        width: 216.19px;
        height: 183.76px;
        margin-bottom: 2.05rem;
        transition: 0.5s ease-in-out;
    }
    
    .portfolio__blocks {
        margin: 2.6rem 4rem 0rem 4rem;
        height: 795px;
        overflow: hidden;
    }

    .about-us {
        height: 663px;
    }
    .about__title {
        padding-top: 5.2rem;
        padding-left: 4rem;
        padding-right: 3rem;
        margin: 0;
        font-weight: 900;

        & h2 {
        letter-spacing: 0.07rem;
        }
    }
    
    .employees {
        margin: 3.7rem 4rem 0 4.2rem;
    }
    
    .employee {
        flex: 0 0 30%;
    }
    
    .employee img {
        border: 0;
        width: 218.94px;
        transition: width 0.5s ease;
    }
    
    .employee__content {
        margin-top: 6px;
    }
    
    .employee__content h3 {
        line-height: 2.7rem;
    }
    .employee__text {
       padding-right:0;
    }
    
    .employee__text p {
        line-height: 2.2rem;
        letter-spacing: -0.01em;
    }
    
    .employee__social-links {
        margin: 10px 0;
    }
    
    
    .contacts {
        height: 624.5px;
    }
    
    .contacts__wrapper {
        padding: 6.5rem 4rem;
    }
    
    .contacts__title {
        letter-spacing: 0.01em;
    }
    
    .contacts__description {
        padding-right: 86px;
    }
    
    .contacts__form {
        max-width: 415px;
        padding-top: 24px;
        padding-bottom: 21px;
    }
    
    .contacts__field {
        padding: 8px 21px 10px 7px;
        margin-bottom: 13px;
    }
    
    .contacts__textarea {
        padding: 6px 20px 14px 7px;
    }
    
    .message-button, .button {
        padding: 10px 46px;
        border: none;
        background: #fbc65f;
        color: #9c7a39;
        text-transform: uppercase;
    }
    
    .footer__copyright {
        font-size: 1.3rem;
        font-weight: 900;
    }
    
    .contact-information__title {
        padding-top: 24px;
        letter-spacing: 0.015em;
        padding-left: 2px;
    }
    .contact-information__description {
        padding: 3px 78px 11px 2px;
    }
    
    .contact__link {
        margin-left: 11px;
    }
    
    .ico_phone {
        margin-left: 1px;
    }

    #message {
        left: 14%;
    }


}