
.header {
	height: 89px;
    background: $color-medium;
    border-bottom: 6px solid $color-dark;
    position: sticky;
    top: 0;
    z-index:10;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
	position: relative;
    top: 12.5px;
    left: 40px;
}

.navigation {
	position: relative;
    top: 12.5px;
    right: 28px;
}

.menu {
    display: flex;
	list-style:none;
}

.menu__item {
	padding-left: 14.5px;

    & .last:after {
	content: '';
    }

    & a {
        font-weight: 700;
        font-size: 1.25rem;
        text-transform: uppercase;
        letter-spacing: -0.4pt;
        
        &:hover {
	    color: $color-red-primary;
	    transition: 0.3s;
        }

        &:after {
        content: '\00B7';
        color:$color-dark;
        margin-left: 12.8px;
        }
    }
   
}

