
.services {
	background-color: $color-light-grey;
	height: 494px;
	border-bottom: 6px solid $color-white;
}

.services__title {
	padding-top: 6rem;
    padding-left:4rem;
	margin-bottom:0;
	letter-spacing: 0.015em;
}

.services__subtitle {
    padding-top: 1.8rem;
    padding-left: 4rem;
    line-height: 3rem;
    padding-right: 4rem;
    letter-spacing: -0.005em;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 2rem 0 4rem;
}

.container__item {
	flex: 0 0 33.333333%;
    margin-top: 4.25rem;
    height: 82px;
}

.item__icon {
    display: block;
    float: left;
    margin: 0.4rem 2rem 5rem 0;
    background: rgba(0, 0, 0, 0.0001);
    border: 2px solid #666d89;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.item__text {
	padding-right:2rem;
    & p {
        font-size: 1.2rem;
        padding-top: 6.5px;
        line-height: 2.2rem;
        text-align: justify;
    }
}

.icon {
	display: block;
	margin: auto;
}

.pencil {
	@include service-icon();
	background: url(assets/images/icons/pencil.svg);
}

.lightbulb {
	@include service-icon(22px);
	background: url(assets/images/icons/lightbulb.svg);
}

.heart {
	@include service-icon(32px,28px);
	background: url(assets/images/icons/heart.svg);
}

.iphone {
	@include service-icon(22px);
	background: url(assets/images/icons/phone.svg);
}

.bubble {
	@include service-icon(32px,28px);
	background: url(assets/images/icons/bubble.svg);
}

.star {
	@include service-icon();
	background: url(assets/images/icons/star.svg);
}
